<!DOCTYPE html>
<html>
<head>
    <title>Upload Photo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Upload Photo</h1>
        <form action="/negative_image" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="photo" class="form-label">Choose a photo to upload</label>
            <input type="file" class="form-control" id="photo" name="photo" accept=".jpg,.jpeg,.png">
          </div>
          <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</body>
</html>
  